In [1]:
print("Hello world")

Hello world

In [2]:
import pandas as pd
import numpy as np

/home/pincle/.pyenv/versions/3.6.5/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
df = pd.DataFrame(np.random.randn(10, 4),
      index = pd.date_range('1/1/2000', periods=10),
      columns = ['A', 'B', 'C', 'D'])

In [4]:
df

                   A         B         C         D
2000-01-01 -0.779425  0.335278 -0.485641 -0.408639
2000-01-02 -0.037043 -0.602140  1.785010 -0.709684
2000-01-03 -0.558968 -0.138573 -1.115671  0.062563
2000-01-04 -1.213957  0.772479 -0.824552  1.222509
2000-01-05 -1.729976  1.594086 -1.005283 -1.307082
2000-01-06 -0.236479 -0.816934  0.468958 -0.138459
2000-01-07  0.106343 -0.020930  0.196943 -0.758666
2000-01-08 -0.763699  0.023053  0.664019  0.818325
2000-01-09 -0.300314  0.274953 -1.376713 -0.831112
2000-01-10 -1.668745 -0.146460  0.683839 -1.842158

In [7]:
def create_df(row, column):
    return pd.DataFrame(np.random.randn(row, column),
      index = pd.date_range('1/1/2000', periods=10),
      columns = ['A', 'B', 'C', 'D'])

In [8]:
create_df(10, 4)

                   A         B         C         D
2000-01-01  1.251555  0.717891 -0.667432 -1.315724
2000-01-02 -3.116776  0.579098 -0.183548  1.786871
2000-01-03 -0.608303 -1.554737  0.310655  0.052650
2000-01-04 -0.675341  0.027004 -0.153433 -0.045076
2000-01-05  2.073034  0.681535 -1.237076  0.061888
2000-01-06 -0.471590  1.152239  0.380843  0.419358
2000-01-07 -1.441835  0.475795 -0.455912  0.672754
2000-01-08  0.539405 -0.264803 -3.310032 -0.132330
2000-01-09  1.219198 -1.129396 -0.576726 -0.525424
2000-01-10  0.366824  0.611781 -0.273196  0.624152